# Basics

In [1]:
print("hello srinu")

hello srinu

In [2]:
print("this is not my first programme")

this is not my first programme

In [3]:

# shift+ tab to see what actually syntax is
print("this")

this

In [5]:
# This is valid in python 2
print  "this is statement is valid?"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("this is statement is valid?")? (Temp/ipykernel_6916/943520031.py, line 2)

In [7]:
# if you want multiple line comment so you have to use triple code
"""
my name is srinu 
i am 
from 
hyderanad
"""

'\nmy name is srinu \ni am \nfrom \nhyderanad\n'

# variable

In [8]:
a=12
a

12

In [9]:
a=12

In [10]:
a

12

In [11]:
a=10
type(a)

int

In [12]:
b="srinu"
type(b)

str

In [13]:
#sring variables
b="srinu"
b

'srinu'

In [14]:
# above here if we execute any string the output
#is on single quote with string
print(a,b)

10 srinu

In [15]:
a=45
b='srinu'

In [18]:
a,b,s =45,'srinu',"this is my name"

In [19]:
s

'this is my name'

In [20]:
type(s)

str

In [23]:
# whenever you strart a variable then you are not supposed to strart with number
# we can strart with underscore if we want
# we can't supposed to use syntax

In [25]:
name= 'srinu'
userid="511018054"
password="hbdjbfadhbfj"
mail="srinukatravathy06"

In [26]:
a=5.6

In [27]:
type(a)

float

# Boolean

In [28]:
b=true
c=false
type(b)

NameError: name 'true' is not defined

In [29]:
# true is not defined because of first letter is always capital letter in boolean equation

In [30]:
b=True
c=False
type(b)

bool

In [31]:
#here bool means boolean

In [33]:
True+True+True+False+True
print(True+True+True+False+True)

4

In [34]:
print(False-True+True)

0

In [35]:
# above is simple( value of true =1, value of false is =0)

In [36]:
True/False

ZeroDivisionError: division by zero

In [37]:
False/True

0.0

In [38]:
# if we execute above code in numpy  it shows inf

In [39]:
n=45+6j
type(n)

complex

In [40]:
# here 45 represents real and 6 is representing imaginary part
#j is a notation

In [41]:
n.real

45.0

In [42]:
n.imag

6.0

In [43]:
n.real()

TypeError: 'float' object is not callable

In [44]:
# we cant use parenthesis here

In [45]:
#python is a dynamic language

In [46]:
1+"sudh"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [47]:
# in python if you execute heterogenious data type the function give an error

In [48]:
str(1)+"srinu"

'1srinu'

In [49]:
# cocatination
"sriny"+"srint"

'srinysrint'

In [51]:
"srinu"-"srinu"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [52]:
a=10
a=input()

iuhiuhdfubfubu

In [53]:
a

'iuhiuhdfubfubu'

In [54]:
type(a)

str

In [55]:
a=input()

12jhxbdsbcd

In [56]:
type(a)

str

In [57]:
# take interger input from a user 
#q1. take a integer input from user a,b,c
#a+b/c


# concatinate with your name

In [68]:
a=int(input(" please enter a integer value of a: "))
b=int(input(" please enter a integer value of b: "))
c=int(input(" please enter a integer value of c: "))
d=(a+b)/c
d1=d+45+65j
user_input=input("What is  your name: ")
print(str(d1)+" "+user_input)

 please enter a integer value of a: 700
 please enter a integer value of b: 800
 please enter a integer value of c: 200
What is  your name: srinu
(52.5+65j) srinu

In [ ]:
a=int(input("input  a number which is less than 34") )
if a<=34:
    print("ok your number is less than 34:")
else:
     print("your number is greater than 34:")
print(a)

In [ ]:
a=int(input("input  a number which is less than 34") )
if a<34:
    print("data input is lesser than 34")

In [ ]:
a=int(input("input  a number which is less than 34") )
if a<34:
    print("data input is lesser than 34")

In [3]:
a=int(input("input  a number which is less than 34: ") )
if a<34:
    print("data input is lesser than 34")
else:
        print("data is greater than 34")

input  a number which is less than 34: 56
data is greater than 34

In [4]:
# aalways maintain indentation

In [7]:
salary=int(input("Enter your salary"))
if salary<=10000:
    print("buy a bike")
elif salary <=50000:
    print("buy a good car")
else:
    print("buy a benz")

Enter your salary15000
buy a good car

# listed statement

In [11]:
salary=eval(input("enter your salary"))
if salary>1000:
    print("your salary is good")
    if salary >5000:
        print("i will go with car nano")
    elif salary>10000:
        print("i will go with maruti")
    elif salary >50000:
        print("i will go with toyota")
    
else:
    print(" i will go with savings")

enter your salary6500.356
your salary is good
i will go with car nano

#conditionals and loops

# condtional and loops